<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>

<!-- Main Styles -->
<link rel="stylesheet" href="/css/main.css" />
<script src="/js/jquery/jquery-1.11.2.js"></script>
<script src="/js/angular/angular.js"></script>

</head>
<body>

	<div th:include="conSearch :: searchModule"></div>
	
	<div id="username" th:text="${userAuthentication.getName()}">USERNAME</div>
	<div id="password" th:text="${userAuthentication.getCredentials()}">PASSWORD</div>
	<div class="authority" th:each="authority : ${userAuthentication.getAuthorities()}" th:text="${authority}">AUTHORITY</div>

</body>
</html>