<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Insert title here</title>
	
	<link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="/js/datepicker/css/datepicker.css" rel="stylesheet" />
</head>
<body>
	
	<script th:src="@{/js/jquery/jquery-1.11.2.js}"></script>
	<script th:src="@{/js/angular/angular.js}"></script>
	<script th:src="@{/js/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/js/datepicker/js/bootstrap-datepicker.js}"></script>
	
	<div th:if="${registrationError}" th:text="${registrationError}"></div>
	
	<form th:action="@{/registration}" th:object="${userRegistration}" method="post">
		<div>
			<span>Username: </span>
			<input type="text" th:field="*{username}" th:errorclass="error"/>
			<span th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Password: </span>
			<input type="password" th:field="*{password}" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Repeat Password: </span>
			<input type="password" th:field="*{passwordRepeat}" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('passwordRepeat')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Zip Code: </span>
			<input type="text" th:field="*{zipCode}" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('zipCode')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Email: </span>
			<input type="text" th:field="*{email}" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Repeat Email: </span>
			<input type="text" th:field="*{emailRepeat}" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('emailRepeat')}" th:text="${err}"></span>
		</div>
		
		<div>
			<span>Gender: </span>
			<div th:each="gender : ${genders}">
				<div>
					<span th:text="${gender}"></span>
					<input type="radio" th:field="*{gender}" th:value="${gender}" th:errorclass="error" />
				</div>	
			</div>
			<span th:each="err : ${#fields.errors('gender')}" th:text="${err}"></span>
		</div>
		
		<div class="" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
			<span>Birth Date: </span>
			<input type="text" class=""											
				th:field="*{birthDate}" id="dateOfBirthInput"
				placeholder="Date of Birth" th:errorclass="error" />
			<span th:each="err : ${#fields.errors('birthDate')}" th:text="${err}"></span>
		</div>
		
		<div>
			<input type="submit" value="submit"/>
		</div>
	</form>
	
	<script>
 		$(function() {
 			$('#dateOfBirthInput').datepicker();
		});
 	</script>

</body>
</html>